body, html {
    background-color: #efefef;
    margin: 0;
    padding: 0;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

a {
    color: #444;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #6187d7;
    transition: color 0.2s linear;
}
.nav {
    padding-top: 2%;
}
.nav ul {
    list-style: none;
    text-align: center;
    font-size: 14px;
}
.nav li a {
    color: #DCDCDC;
    text-transform: uppercase;
}
.nav li {
	display: inline-block;
	margin-left: 25px;
}

.nav li a:hover {
	color: #6187d7;
	transition: color 0.3s linear;
}

.nav .current a {
    font-size: 130%;
	color: #6187d7;
}

.header_style{
	display: inline-block;
	background-color: #444;
	width: 100%;
	box-shadow: 0 1px 3px #444;
}

.header_style h1, .header_style h2, .header_style h3 {
	display:block;
	text-align:center;
	color: #efefef;
	margin: 0;
}

.footer_style{
	background-color: #444;
	color: white;
	text-align:center;
    padding: 1px 0;
}
.footer_style p{
	text-align: center;
}

#logo{
	float: left;
    margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.div_main{
	text-align:center;
	flex-grow: 0.7;
}

.navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 5rem;
}

.nav_images{

}

.nav_images img{
	width: 280px;
}

.div_main .nav_images:hover{
	box-shadow: 0 0 10px #a0a0a0;
}

.div_main h1, .div_main h2, .div_main h3{
	margin: 0;
	padding-bottom: 5px;
	color: #444;
}
.div_main h2 {
	padding-bottom: 20px;
}
.sign{
	display:inline-block;
	width:15%;
}


var {
	text-align: center;
	text-transform: none;
	font-family: Tahoma, Verdana, sans-serif;
	color: #FFFAFA;
	font-size: 80%;
	margin-top: 0;
	font-style: normal;
	font-variant: normal;
}
code {
	text-align: justify;
	font-family: sans-serif;
	color: #339999;
	font-size: 90%;
	font-style: normal;
	padding-left: 20px;
	font-weight: bold;
	margin-left: 20px;
	width: 100%;
	letter-spacing: 0;
}
em {
	font-family: Verdana, sans-serif;
	font-style: normal;
	color: #5A5A5A;
}

input {
	border: 2px solid Black;
	font-size: 120%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-family: Verdana;
	text-align: center;
}

.black {
	margin-left: 10px;
	color: Black;
}
.margined {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0;
}

.bigmargin {
	 margin-left: 50px;
	 margin-right: 20px;
	 margin-bottom: 0px;
	 font-weight: bold;
	 color: #5A5A5A;
	 font-size: 90%
}

.bigmargin2 {
	 margin-left: 50px;
	 margin-right: 20px;
	 margin-bottom: 0px;
	 font-weight: bold;
	 color: #5A5A5A;
	 font-size: 85%
}

.unmargined {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 0px;
}

.dot
{
	color: Black;
	text-decoration: underline;
}
.small {
	font-size: 2px;
}
.author {
    text-align:center;
	padding: 50px;
}

/*tables styles*/

.users-list table,
.users-list td,
.student-information table,
.student-information td,
.tests-info table,
.tests-info td {
	border: 1px solid #444444;
	margin: 0 auto;
	padding: 0;
	border-collapse: collapse;
	border-radius: 3px;
}

.users-list td:hover, .student-information td:hover {
	background-color: #c1c1c1;
}

.change-password input{
	border: 1px solid #bdbdbd
}


