.SOT a{
	text-align: center;
}

.SOT a:hover{

}

.SOT{
	padding: 20px 0;
	border: 1px solid #cccccc;
	margin: 15px 0;
}
 
pre{
	padding: 1em;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f8f8f8;
    font-size: 12px;
} 

.LP{
	margin:0px 200px 20px 200px;
}
.LP ul{
	margin:0px 200px 20px 200px;
	height:auto;
	line-height:normal;
}

.LP h1{
	color:black;
}


